/* index.css or App.css */
.light {
  --background-color: #ffffff;
  --text-color: #000000;
}

.dark {
  --background-color: #333333;
  --text-color: #ffffff;
}

.App {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
}

.App-header {
  display: flex;
  align-items: center;
  position: relative;
  padding: 1rem;
}
